<div class="flex flex-col w-full" xmlns="http://www.w3.org/1999/html">
  <ul class="mt-7 ml-2 pr-2">
    <li class="hover:bg-gray-100 rounded cursor-pointer" [ngClass]="{'bg-gray-100': menu.active}" *ngFor="let menu of menus | async">
      <a routerLink="/tasks/{{menu.name}}" routerLinkActive="active">
        <div class="flex flex-row relative items-center w-full h-9 px-2 py-2 text-sm">
          <span class="pr-2">
             <svg-icon
               [name]="menu.icon"
               [size]="16">
              </svg-icon>
          </span>
          <label [ngClass]="{'font-medium': menu.active}" class="cursor-pointer">{{menu.label}}</label>
          <span *ngIf="menu.counter" class="absolute top-0 right-0 p-2">{{menu.counter}}</span>
        </div>
      </a>
    </li>
  </ul>

  <ul class="mt-4 ml-2 pr-2">
    <li class="hover:bg-gray-100 rounded cursor-pointer">
      <a>
        <div class="flex flex-row relative items-center w-full h-9 px-2 py-2 text-sm">
          <span class="pr-2">
             <svg-icon
               class="text-blue-500"
               name="list-view"
               [size]="16">
              </svg-icon>
          </span>
          <label class="cursor-pointer">Home</label>
        </div>
      </a>
    </li>
    <li class="hover:bg-gray-100 rounded cursor-pointer">
      <a>
        <div class="flex flex-row relative items-center w-full h-9 px-2 py-2 text-sm">
          <span class="pr-2">
             <svg-icon
               class="text-blue-500"
               name="list-view"
               [size]="16">
              </svg-icon>
          </span>
          <label class="cursor-pointer">The Corner</label>
        </div>
      </a>
    </li>
    <li class="hover:bg-gray-100 rounded cursor-pointer">
      <a>
        <div class="flex flex-row relative items-center w-full h-9 px-2 py-2 text-sm">
          <span class="pr-2">
             <svg-icon
               class="text-blue-500"
               name="plus"
               [size]="16">
              </svg-icon>
          </span>
          <label class="cursor-pointer">Danh sách mới</label>
        </div>
      </a>
    </li>
  </ul>
</div>
<resizer></resizer>
